<body>
    <div id="navbar">
        <div class="logo-div">
            <a class="ml-2" href="#">
                <img src="../../assets/logo.png" alt="logo" />
            </a>
        </div>
        <div class="search-div">
            <input id="search" type="text" placeholder="Search any movies or tv shows" />
            <a class="ml-2" href="#">Movies</a>
            <a class="ml-2" href="#">TV Shows</a>
            <a class="ml-2" href="#">Watchlist</a>
            <a class="ml-2" href="#">
                <img class="login-img" src="../../assets/login-btn.png" alt="login-btn" />
            </a>
        </div>
    </div>

    <section>
        <div class="row main">
            <div class="col-lg-2 side-menu">
                <a style="color: white;" href="#">Genre</a>
                <a href="#">Action</a>
                <a href="#">Horror</a>
                <a href="#">Comedy</a>
                <a href="#">Adventure</a>
                <a href="#">Drama</a>
                <a href="#">Sci-Fi</a>
                <a href="#">More ...</a>
                <br><br>
                <a style="color: white;" href="#">Language</a>
                <a href="#">English</a>
                <a href="#">Hindi</a>
                <a href="#">Tamil</a>
                <a href="#">Telugu</a>
                <a href="#">Marathi</a>
                <a href="#">Punjabi</a>
                <a href="#">More ...</a>
            </div>
            <div class="col-lg-7 main-home">
                <div class="row">
                    <div class="col-6 title">
                        <h4>Weekly Top Rated Movies</h4>
                    </div>
                    <div class="col-6 ms-auto">
                       <p class="text-end me-lg-5" style="color: darkgray;">See more</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                </div>

            </div>
            <div class="col-lg-3 trailer-div">

            </div>
        </div>
    </section>

</body>