<body>
    <nav>
        <div id="navbar">
            <div class="logo-div">
                <a class="ml-2" href="#">
                    <img src="../../assets/logo.png" alt="logo" />
                </a>
            </div>
            <div class="search-div">
                <input id="search" type="text" placeholder="Search any movies or tv shows" />
                <a class="ml-2" href="#">Movies</a>
                <a class="ml-2" href="#">TV Shows</a>
                <a class="ml-2" href="#">Watchlist</a>
                <a class="ml-2" href="#">
                    <img class="login-img" src="../../assets/login-btn.png" alt="login-btn" />
                </a>
            </div>
        </div>
    </nav>
    <section>
        <div class="row main">
            <div class="col-lg-2 side-menu">
                <a style="color: white;" href="#">Genre</a>
                <a href="#">Action</a>
                <a href="#">Horror</a>
                <a href="#">Comedy</a>
                <a href="#">Adventure</a>
                <a href="#">Drama</a>
                <a href="#">Sci-Fi</a>
                <a href="#">More ...</a>
                <br><br>
                <a style="color: white;" href="#">Language</a>
                <a href="#">English</a>
                <a href="#">Hindi</a>
                <a href="#">Tamil</a>
                <a href="#">Telugu</a>
                <a href="#">Marathi</a>
                <a href="#">Punjabi</a>
                <a href="#">More ...</a>
            </div>
            <div class="col-lg-4 side-menu" style="background-color: red;">

            </div>
        </div>
    </section>

</body>